/*noinspection CssInvalidAtRule*/
@tailwind preflight;

/* Here we can add any custom overrides */

/*noinspection CssInvalidAtRule*/
@tailwind utilities;

/* Here we can add our own utilities or custom CSS */

.field {
    @apply .border .py-2 .px-3 .text-grey-darkest;
}

.field-label {
    @apply .uppercase .font-bold .text-lg .text-grey-darkest .mb-2;
}

.field-group {
    @apply .flex .flex-col;
}

.btn {
    @apply .block .text-white .uppercase .text-lg .p-4 .rounded;
}

.btn-teal {
    @apply .bg-teal;
}

.btn-teal:hover {
    @apply .bg-teal-dark;
}

.link {
    @apply .block .no-underline .text-sm;
}

.link-grey {
    @apply .text-grey-dark;
}

.link-grey:hover {
    @apply .text-grey-darker;
}